<h1>Send a Message</h1>

<%= form_for @conn, match_message_path(@conn, :create, @match_id), [as: :message], fn f -> %>
<div class="form-group">
<%= text_input f, :subject, placeholder: "Subject", class: "form-control" %>
</div>

<div class="form-group">
<%= textarea f, :body, placeholder: "Body", class: "form-control" %>
</div>
<%= submit "Send", class: "btn btn-primary" %> <% end %>
